<h1 class="page-header">User information page for {{ jid }}</h1>

{{> message }}

<button class="btn btn-primary pull-right {{#noUserData}}disabled{{/noUserData}} end-session" type="button" data-jid="{{ jid }}">Close all sessions</button>

<h2>Online Resources</h2>

<div class="table-responsive">
    <table class="user-table table">
        <thead>
            <tr>
               <th>Resource</th>
               <th>IP Address</th>
               <th>Actions</th>
            </tr>
        </thead>
        <tbody class="table-striped table-hover">
        {{#noUserData}}
            <tr class="warning text-centered">
                <td colspan="3">This user currently has no active sessions</td>
            </tr>
        {{/noUserData}}
        {{#each userData}}
            <tr>
                <td>{{ this.onlineresources }}</td>
                <td>{{ this.ipaddresses }}</td>
                <td>
                    <i class="fa fa-times fa-fw fa-2x end-user-session" title="Close session" data-jid="{{ jid }}/{{ this.onlineresources }}">
                    <span class="element-invisible">Close session</span>
                    </i>
                </td>
            </tr>
        {{/each}}
        </tbody>
        <tfoot>
            <tr>
               <th>Resource</th>
               <th>IP Address</th>
               <th>Actions</th>
            </tr>
        </tfoot>
    </table>
</div>

<h2>Danger Area</h2>

<button class="btn btn-danger reset-user-password" data-jid="{{ jid }}"><i class="fa fa-lock fa-fw reset-user-password" title="Reset user password" ></i> Reset User Password</button> 
<button class="btn btn-danger delete-user" data-jid="{{ jid }}"><i class="fa fa-trash-o fa-fw delete-user" title="Delete user" ></i> Delete User</button> 